.formUser {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label {
  font-size: 14px;
}

.groupBtn {
  display: flex;
  gap: 50px;
}
